* {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: left;
}

a {
    text-decoration: none;
    color: red;
    background-color: transparent;
}

section {
    display: block;
}

.section1 {
    background-image: url(./Images/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    overflow: hidden;
}

.img-wrapper {
    margin: auto;
    display: flex;
    padding-top: 60px;
    margin-bottom: 5%;
}

.img-wrapper img {
    margin: auto;
}

.section1-intro {
    padding: 12px;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}

.header1 {
    font-size: 31px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 35px;
    text-align: center;
    overflow: hidden;
}

.p1 {
    margin-bottom: 15%;
    line-height: 25px;
}

button {
    background-color: transparent;
    border: 1px solid red;
    height: 50px;
    font-family: cursive;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.b1 {
    width: 230px;
    margin-right: 30px;
    background-color: red;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .b1 {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.b1:hover {
    background-color: transparent;
    color: red;
}

.b2 {
    width: 270px;
    color: red;
}

.b2:hover {
    background-color: red;
    color: #fff;
}

.section2 {
    background-color: #fff;
    overflow: hidden;
}

div {
    display: block;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding-top: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.header2 {
    margin-top: 13%;
    color: red;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.p2 {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 1280px !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

@media screen and (max-width: 991px) {
    .boxes {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .boxes > .box-outer {
        margin-top: 50px;
    }
}

.box-outer {
    max-width: 33.333%;
    width: 100%;
    position: relative;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .box-outer {
        margin: 0 auto;
        overflow: hidden;
        max-width: 40rem;
    }
}

.box-mid {
    border: 1px solid #fffafa;
    background-color: #fffafa;
}

.box-mid img {
    margin-bottom: 45px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.dot1-img {
    width: 100%;
    position: absolute;
    top: -75px;
    left: -120px;
    z-index: -1;
}

.box-inner {
    width: 100%;
    padding-top: 61px;
    padding-right: 47px;
    padding-left: 36px;
    padding-bottom: 82px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.dot2-img {
    width: 90%;
    position: absolute;
    top: -75px;
    right: -120px;
    z-index: -1;
}

.p3 {
    margin-bottom: 10%;
    font-size: 16px;
    opacity: 0.7;
}

.header3 {
    font-size: 15px;
}

footer {
    display: block;
}

.footer {
    margin-top: 215px;
    max-width: 1240px !important;
    margin-right: auto;
    margin-left: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

@media screen and (max-width: 991px) {
    .footer-container {
        text-align: center;
        flex-direction: column;
    }
}

.h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .h4 {
        margin-top: 20px;
    }
}

.p4 {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 200px;
    line-height: 20px;
    overflow: hidden;
}

.social-logo img {
    width: 25px;
}

.footer hr {
    opacity: 0.3;
    border: 0.8px solid #514949;;
}

.line {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.copyright {
    text-align: center;
    margin-bottom: 110px;
    font-weight: 600;
}