* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: cursive;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
}

div {
    display: block;
}

.header {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 15px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1100;
}

.header-container {
    position: relative;
    min-height: 58px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
}

@media screen and (max-width: 620px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.nav-wrapper {
    margin: auto;
    max-width: 1440px;
    width: 88%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

@media screen and (max-width: 620px) {
    .nav-wrapper {
        width: 100%;
    }
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    margin-right: 3rem;
    min-width: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 3px solid #e7332b;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .nav-link {
        display: none;
    }
}

.nav-button-container {
    display: flex;
    align-items: center;
}

button {
    text-align: center;
    text-shadow: none;
    cursor: pointer;
}

.nav-btn {
    margin-right: 0px;
    min-width: 64px;
    padding: 11px 35px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #e7332b;
    border: none;
    border-radius: 0px 0px 10px 0px;
}

@media screen and (max-width: 520px) {
    .nav-btn {
        padding: 11px 10px;
        margin: 0;
        margin-right: 0;
        border-radius: 0 0 10px 0;
    }
}

.root2 {
    max-width: 1440px;
    width: 85%;
    margin: auto;
    padding-top: 220px;
}

@media screen and (max-width: 620px) {
    .root2 {
        padding-top: 130px;
    }
}

.section1-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.sec1-content1 {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1260px) {
    .sec1-content1 {
        max-width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .sec1-content1 {
        display: grid;
        align-items: center;
    }
}

.sec1-header {
    font-size: 40px;
    font-weight: 800;
    color: #161617;
}

@media screen and (max-width: 1200px) {
    .sec1-header {
        text-align: center;
    }
}

.curl1 {
    margin-top: -24px;
    margin-left: 438px;
}

@media screen and (max-width: 530px) and (min-width: 450px) {
    .curl1 {
        margin-top: -24px;
        margin-left: 35vw;
    }
}

.sec1-text {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 15px;
    color: #787878;
    width: 78%;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .sec1-text {
        text-align: center;
        font-size: 16px;
        width: 97%;
        margin: auto;
    }
}

.sec1-button-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .sec1-button-wrapper {
        justify-content: center;
    }
}

.btn1 {
    padding: 11px 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    min-width: 64px;
    color: #fff;
    background-color: #e7332b;
    margin-right: 15px;
    border: none;
    border-radius: 0px 0px 10px 0px;
}

@media screen and (max-width: 520px) {
    .btn1 {
        padding: 8px 25px;
    }
}

.btn2 {
    background-color: #585858;
}

@media screen and (max-width: 520px) {
    .btn2 {
        margin-right: 0px !important;
    }
}

@media screen and (min-width: 1260px) {
    .sec1-content2 {
        max-width: 50%;
    }
}

.sec1-image-box {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    .sec1-image-box {
        justify-content: center;
        margin-top: 50px;
    }
}

.sec1-img {
    width: 70%;
}

@media screen and (max-width: 620px) {
    .sec1-img {
        width: 100%;
    }
}


.curl2 {
    position: absolute;
    right: 0;
    margin-top: -172px;
    mix-blend-mode: soft-light;
}

@media screen and (max-width: 520px) {
    .curl2 {
        display: none;
    }
}

.line2 {
    width: 138px;
}

.root3 {
    margin-top: 100px;
    background-image: url('./images/bgsection2.063bd869082548bafa74.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 142px;
}

.sec2-content-container {
    max-width: 1440px;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
}

.sec2-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -24px;
    margin-left: -24px;
    width: calc(100% + 24px);
    box-sizing: border-box;
}

.sec2-content1-wrapper {
    padding-top: 24px;
    padding-left: 24px;
}

@media screen and (min-width: 1260px) {
    .sec2-content1-wrapper {
        max-width: 50%;
    }
}

.sec2-header {
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    color: #161617;
    overflow: hidden;
}

@media screen and (max-width: 620px) {
    .sec2-header {
        font-size: 28px;
        line-height: 30px;
        width: 100%;
    }
}


.sec2-text1 {
    padding-top: 10px;
    font-size: 19px;
    font-weight: 400;
    width: 78%;
}

@media screen and (max-width: 620px) {
    .sec2-text1 {
        font-size: 16px;
        width: 100%;
    }
}

.countries-wrapper {
    display: flex;
    padding-top: 19px;
    width: 78%;
}

@media screen and (max-width: 620px) {
    .countries-wrapper {
        justify-content: center;
        width: 100%;
    }
}

.country-logo {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    margin-right: 16px;
    padding: 7px;
    width: 55px;
}

.sec2-content2-wrapper {
    padding-top: 24px;
    padding-left: 24px;
}

@media screen and (min-width: 1260px) {
    .sec2-content2-wrapper {
        max-width: 50%;
    }
}

.sec2-content2 {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    .sec2-content2 {
        display: flex ;
        justify-content: center !important;
        margin-top: 50px;
    }
}

@media screen and (max-width: 620px) {
    .sec2-img {
        width: 100% !important;
    }
}